[Unit]
Description=Smart Fridge
After=network.target

[Service]
ExecStart=/home/pi/smart-fridge/start.sh
WorkingDirectory=/home/pi/smart-fridge
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
